<div>
    <h1> Here is some information about the planet you chose!</h1>
    <ul>
        <li>
            <h1>Name: {{planet.name}}</h1>
        </li>
        <li>
            <h1>Climate: {{planet.climate}}</h1>
        </li>
    </ul>
</div>