<!--The content below is only a placeholder and can be replaced.-->
<div class="container" style="text-align:center">
  <h1> Welcome to {{ title }}! </h1>

  <form (ngSubmit)="getData()" #serviceForm="ngForm">
    <div>
    <h2>Please select a category and an item ID: </h2>
    <hr />
    </div>

    <div class="form-group">
      <label>Select Category: </label> 
      <br/>
      <br />
      <select [(ngModel)]="category" name="theCategory">
        <option *ngFor='let cat of categories' [value]=cat>{{cat}}</option>
      </select>
      <br />
      <br />
    </div>

    <p> Select item Id: </p>
    <input [(ngModel)]="id" name="id" type='number' min="1" max="5" step="1" required>
    <br />
    <br />

    <button  type="submit" class="btn btn-success" >Retrieve Infomation</button>
  </form>
  <div *ngIf='data!=null'>
    <div *ngIf='isFound'>

    </div>
    <div [ngSwitch]='category'>
      <app-people *ngSwitchCase="'people'" [people]='data'></app-people>
    </div>
    <div [ngSwitch]='category'>
      <app-planet *ngSwitchCase="'planets'" [planet]='data'></app-planet>
    </div>
    <div [ngSwitch]='category'>
      <app-specie *ngSwitchCase="'species'" [specie]='data'></app-specie>
    </div>
    <div [ngSwitch]='category'>
      <app-starship *ngSwitchCase="'starships'" [starship]='data'></app-starship>
    </div>
    <div [ngSwitch]='category'>
      <app-vehicle *ngSwitchCase="'vehicles'" [vehicle]='data'></app-vehicle>
    </div>
  </div>
</div>

<div *ngIf="!isFound">404 not found</div>