<div>
    <h1> Here is some information about the specie you chose!</h1>
    <ul>
            <li>
                <h1>Name: {{specie.name}}</h1>
            </li>
            <li>
                <h1>Classification: {{specie.classification}}</h1>
            </li>
            <li>
                <h1>Designation: {{specie.designation}}</h1>
            </li>
        </ul>
    </div>