<div>
        <h1> Here is some information about the spaceship you chose!</h1>
        <ul>
            <li>
                <h1>Name: {{starship.name}}</h1>
            </li>
            <li>
                <h1>Model: {{starship.model}}</h1>
            </li>
            <li>
                <h1>Manufacture: {{starship.manufacturer}}</h1>
            </li>
        </ul>
    </div>