<div>
        <h1> Here is some information about the spaceship you chose!</h1>
        <ul>
            <li>
                <h1>Name: {{vehicle.name}}</h1>
            </li>
            <li>
                <h3>Model: {{vehicle.model}}</h3>
            </li>
            <li>
                <h3>Manufacture: {{vehicle.manufacturer}}</h3>
            </li>
        </ul>
    </div>
