<div>
<h1> Here is some information about the Person you chose!</h1>
<ul>
    <li><h1>Name: {{people.name}}</h1></li>
    <li><h1>Height: {{people.height}}</h1></li>
    <li><h1>Mass: {{people.mass}}</h1></li>
</ul>
</div>



